{% extends 'personal/header.html' %}


{% block content %}
    <table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            Username
        </th>
        <th>Name</th>
        <th>Surname</th>
        <th>Last logged</th>
        <th width="200"></th>
    </tr>
    </thead>
    <tbody>
    {%  for user in users_list %}
    <tr>
        <td>
            {{ user.username }}
        </td>
    <td>
        {{ user.first_name }}
    </td>
    <td>
        {{ user.last_name }}
    </td>
    <td>
        {{ user.last_login }}
    </td>
    <td>
        <button class="btn btn-danger btn-sm">Delete</button>
        <button class="btn btn-warning btn-sm">Edit</button>
    </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock content %}

