{% extends "personal/header.html" %}

    {% block title %} <title> Form</title> {% endblock %}
    <style>
        .content{
            text-align: center;
        }

         .content p{
            font-size: 1.2em;
        }

        @media screen and (max-width:776px){
             .logo{
                justify-content: center!important;
             }
        }

    </style>

                {%  block content %}
                    {% load crispy_forms_tags %}


                        <form  method="post" autocomplete="off" class="form-group">
                            {% csrf_token %}
                            <div class="container my-4">
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">

                                            {{ form|crispy  }}
                                            <button class="btn btn-primary" type="submit"> Submit</button>


                                    </div>
                                </div>
                            </div>
                        </form>
                {% endblock %}






